<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block head %}
    <title>{% block title %}{% endblock %} | Bell-Ringer</title>
    {% endblock %}
</head>
    <body>
        <h1>Bell-Ringer</h1>
        <span class="login-register-span">
            {% if request.user.is_authenticated == True %}
                Hello, <a href="{% url 'user-bells' pk=request.user.id %}">
            {{request.user.username}}
        </a>!
                <a href="{% url 'logout' %}">Log Out</a>
            {% else %}
                <a href="{% url 'register' %}">Sign Up</a>
                <a href="{% url 'login' %}">Log In</a>
            {% endif %}
        </span>
        <div>
            <p></p>
        {% if request.user.is_authenticated == True %}
            <div class="add-bell-ring">
                <a href="{% url 'ring-a-bell' %}">Ring a bell!</a>
                <a href="{% url 'user-pmessages' pk=request.user.id %}">Show private messages</a>
            </div>
        {% endif %}
        </div>
        <div id="content">
            <p></p>
            {% block content %}
                {% include 'base/bell_table.html' %}
            {% endblock %}
        </div>
    </body>
</html>