{% extends "base.html" %}
{% block title %}
     Reset password
{% endblock %}
{% block content %}
<h3>Reset {{request.user.username}} password:</h3>
    {% if pass_error %}
            <p>{{pass_error}}</p>
    {% endif %}
    {% if error %}
        {% for error in errors %}
            {{error}}
        {% endfor %}
    {% endif %}
    <form action="{% url 'reset-password' pk=request.user.id %}" method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Reset">
    </form>
{% endblock %}
