{% extends "base.html" %}
{% block title %}
     Private messages
{% endblock %}
{% block content %}
<h2>Private messages</h2>

<ul>
{% for message in messages %}
    <li>
        <p>
            From:
            <a href="{% url 'user-bells' pk=message.sender.id %}">
                {{ message.sender }}
            </a>
            To:
            <a href="{% url 'user-bells' pk=message.recipient.id %}">
                {{ message.recipient }}
            </a>
        </p>
        <p>
            Sent: {{ message.creation_date }}
            {% if message.read_status == False %}
            <strong>Unread!</strong>
            {% endif %}
        </p>
        <p>
            <a href="{% url 'single-pmessage' pk=message.id %}">
            {{message.content_short}}
            </a>
        </p>
    </li>
{% empty %}
    <li>No messages.</li>
{% endfor %}
</ul>
    {% if error %}
        {{error}}
    {% endif %}

{% endblock %}
