<tr>
    <td>
        <span class="bell-ring-author">
            <a href="{% url 'user-bells' pk=bell_ring.author.id %}">
            {{bell_ring.author}}
            </a>
        </span>
        <span class="bell-ring-creation-date">{{bell_ring.creation_date}}</span>
        <span class="bell-ring-link">
            <a href="{% url 'bell-ring' pk=bell_ring.id %}">
                Link
            </a>
        </span>
        <div class="bell-ring-content">{{bell_ring.content}}</div>
        <div>
            <span>
                Comments: {{bell_ring.comment_count}}
            </span>
        </div>
        {% if single is True %}
            <div>
                <form action="#" method="post">
                        {% csrf_token %}
                        {{ form }}
                    <input type="submit" value="Add">
                </form>
            </div>
            <div>
                <p>Comments:</p>
                <ul>
                    {% for comment in bell_ring.comment_set.all %}
                        <li>
                            <div>
                                <p>{{comment.author}} {{comment.creation_date}}</p>
                                <p>{{comment.content}}</p>
                            </div>
                        </li>
                    {% empty %}
                        <p>None.</p>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </td>
</tr>